body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.table-container {
    display: grid;
    justify-items: center;
}

.table {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0.25em;
    padding: 5px;
}

.table-title {
    font-weight: bold;
    text-align: center;
    font-size: large;
}

.table-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    grid-gap: .8em;
}

.table-cell {
    display: grid;
    padding: 3px;
    border: 1px solid #868686;
    width: 100%;
    border-radius: 4px;
}

.default-option {
    cursor: pointer;
    transition: 0.2s;
    border-left: 0px solid #e7cf22;
    padding-left: 5px;
    padding-bottom: 3px;
    display: grid;
    align-items: center;
    border-radius: 3px;
}

.default-option:hover {
    background-color: #f3f3f3;
    padding-left: 7px;
}

.main-option.selected {
    background-color: #fffce3;
    border-left: 3px solid #e7cf22;
    padding-left: 10px;
}

.sub-option.selected {
    background-color: #fffce3;
    border-left: 3px solid #e7cf22;
    padding-left: 10px;
}

.content-panel {
    display: none;
    padding: 10px;
    animation: fadeIn 0.3s;
}

.content-panel.active {
    display: block;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}